@import "tailwindcss";

:root {
  --background: #f8f6f3;
  --foreground: #171717;
    --gray: #5f6566;
    --blue: #001666;
    --green: #073f10;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f6f3;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: main;
  src: url(../public/fonts/Azar\ [@fontbazi].ttf);
}
@font-face {
  font-family: sub;
  src: url(../public/fonts/A\ Ketab\ Bold.ttf);
}

body {
  color: var(--foreground);
  font-family:main;
  background-color: #fefae0;
background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");

}
p{
  font-family: sub;
}